body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.food-item {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

#tracker-result {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcc00;
    position: relative;
    bottom: 0;
    width: 100%;
}